.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
  background: radial-gradient(
    circle,
    rgba(147, 173, 24, 1) 0%,
    rgba(90, 110, 7, 1) 100%
  );
  color: white;
}

.linkWrapper {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.linkWrapper a:hover {
  transform: scale(1.02);
  text-decoration: underline;
}
